In [1]:
import sqlite3 as sql
import csv
import pandas as pd

In [2]:
path = './'
connection = sql.connect(path + 'UFC_db.sqlite')

# Tabla principal de peleadores

In [3]:
with open('Datos_principal.csv', 'r') as csvfile:
    csv_file_reader = csv.reader(csvfile,delimiter=',')
    #Skip los titulos
    next(csv_file_reader, None)
    
    #Creamos los campos
    Name = ''
    id_peleador = 0
    
    #Creamos la base de datos
    #Creamos la estructura de la tabla
    create_table_main = """
    CREATE TABLE if not Exists data_main(
    ID_peleador INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT NOT NULL
    );
    """
    cursor = connection.cursor()
    cursor.execute(create_table_main)
    
    #Pasamos los datos del csv a la tabla
    for row in csv_file_reader:
        Name = row[0]
            
        #Insertamos en la tabla
        Insertar_datos_main = f""" INSERT INTO data_main(Name)
       VALUES (?)"""
        valores_main = (Name,)
        cursor.execute(Insertar_datos_main, valores_main)
    connection.commit()

# Tabla de datos de peleadores

In [4]:
with open('Data_peleadores.csv', 'r') as csvfile:
    csv_file_reader = csv.reader(csvfile,delimiter=',')
    #Skip los titulos
    next(csv_file_reader, None)
    
    #Creamos los campos
    Name = ''
    Weight_class = ''
    Genre = ''
    Height_cms = 0
    Reach_cms = 0
    Weight_lbs = 0
    id_peleador = 0
    
    #Creamos la base de datos
    #Creamos la estructura de la tabla
    create_table_fighters = """
    CREATE TABLE if not Exists data_peleadores(
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT NOT NULL,
    Weight_class TEXT,
    Genre TEXT,
    Height_cms INTEGER,
    Reach_cms INTEGER,
    Weight_lbs INTEGER,
    ID_peleador INTEGER NOT NULL,
    FOREIGN KEY(ID_peleador) REFERENCES data_main (ID_peleador)
    );
    """
    cursor = connection.cursor()
    cursor.execute(create_table_fighters)
    
    #Pasamos los datos del csv a la tabla
    for row in csv_file_reader:
        #Saltamos la primera columna
        for i in range(len(row)):
            #Asiginamos cada valor a su campo
            Name = row[0]
            Weight_class = row[1]
            Genre = row[2]
            Height_cms = row[3]
            Reach_cms = row[4]
            Weight_lbs = row[5]
            id_peleador = row[6]
            
        #Insertamos en la tabla
        Insertar_datos = f""" INSERT INTO data_peleadores (Name, Weight_class, Genre, Height_cms, Reach_cms, Weight_lbs, ID_peleador)
       VALUES (?,?,?,?,?,?,?)"""
        valores = (Name, Weight_class, Genre, Height_cms, Reach_cms, Weight_lbs, id_peleador)
        cursor.execute(Insertar_datos,valores)
    connection.commit()

# Tabla de datos de las peleas

In [5]:
with open('Data_peleas.csv', 'r') as csvfile:
    csv_file_reader = csv.reader(csvfile,delimiter=',')
    #Skip los titulos
    next(csv_file_reader, None)
    
    #Creamos los campos
    Referee = ''
    date = ''
    location = ''
    Winner = ''
    title_bout = 0
    weight_class = ''
    Genre = ''
    R_fighter = ''
    B_fighter = ''
    R_age = 0
    B_age = 0
    Year = 0
    Id_pelea = 0
    
    #Creamos la base de datos
    #Creamos la estructura de la tabla
    create_table_fights = """
    CREATE TABLE if not Exists data_peleas(
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    Referee TEXT,
    Date TEXT,
    Location TEXT,
    Winner TEXT,
    Title_bout INTEGER,
    Weight_class TEXT,
    Genre TEXT,
    R_fighter TEXT,
    B_fighter TEXT,
    R_age INTEGER,
    B_age INTEGER,
    Year INTEGER,
    ID_pelea INTEGER NOT NULL
    );
    """
    cursor = connection.cursor()
    cursor.execute(create_table_fights)
    
    #Pasamos los datos del csv a la tabla
    for row in csv_file_reader:
        #Saltamos la primera columna
        for i in range(len(row)):
            #Asiginamos cada valor a su campo
            Referee = row[0]
            Date = row[1]
            Location = row[2]
            Winner = row[3]
            Title_bout = row[4]
            Weight_class = row[5]
            Genre = row[6]
            R_fighter = row[7]
            B_fighter = row[8]
            R_age = row[9]
            B_age = row[10]
            Id_pelea = row[11]
            Year = row[12]
            
            
        #Insertamos en la tabla
        Insertar_datos_peleas = f""" INSERT INTO data_peleas (Referee, Date, Location, Winner, title_bout, Weight_class,
        Genre, R_fighter, B_fighter, R_age, B_age, Year, ID_pelea)
       VALUES (?,?,?,?,?,?,?,?,?,?,?,?, ?)"""
        valores_peleas = (Referee, Date, Location, Winner, title_bout, Weight_class,Genre, R_fighter, B_fighter, R_age, B_age, Year,Id_pelea)
        cursor.execute(Insertar_datos_peleas,valores_peleas)
    connection.commit()

# Tabla datos historicos de los peleadores

In [6]:
with open('Datos_historicos.csv', 'r') as csvfile:
    csv_file_reader = csv.reader(csvfile,delimiter=',')
    #Skip los titulos
    next(csv_file_reader, None)
    
    #Creamos los campos
    Name =''
    Weight_class =''
    Genre =''
    Fight_date = ''
    Year = ''
    Total_rounds_fought = 0
    Total_title_bouts = 0
    Current_win_streak = 0
    Current_lose_streak = 0
    Longest_win_streak = 0
    Wins = 0
    Losses = 0
    Draw = 0
    Win_by_Decision_Majority = 0
    Win_by_Decision_Split = 0
    Win_by_Decision_Unanimous = 0
    Win_by_KO_TKO = 0
    Win_by_Submission = 0
    Win_by_TKO_Doctor_Stoppage = 0
    Stance =''
    ID_peleador = 0
    
    #Creamos la base de datos
    #Creamos la estructura de la tabla
    create_historic_fighters = """
    CREATE TABLE if not Exists data_historica(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT,
    Weight_class TEXT,
    Genre TEXT,
    Fight_date TEXT,
    Year INTEGER,
    Total_rounds_fought INTEGER,
    Total_title_bouts INTEGER,
    Current_win_streak INTEGER,
    Current_lose_streak INTEGER,
    Longest_win_streak INTEGER,
    Wins INTEGER,
    Losses INTEGER,
    Draw INTEGER,
    Win_by_Decision_Majority INTEGER,
    Win_by_Decision_Split INTEGER,
    Win_by_Decision_Unanimous INTEGER,
    Win_by_KO_TKO INTEGER,
    Win_by_Submission INTEGER,
    Win_by_TKO_Doctor_Stoppage INTEGER,
    Stance TEXT,
    ID_peleador INTEGER NOT NULL,
    FOREIGN KEY (ID_peleador) REFERENCES data_peleadores(ID_peleador) 
    );
    """
    cursor = connection.cursor()
    cursor.execute(create_historic_fighters)
    
    #Pasamos los datos del csv a la tabla
    for row in csv_file_reader:
        #Saltamos la primera columna
        for i in range(len(row)):
            #Asiginamos cada valor a su campo
            Name =row[0]
            Weight_class = row[1]
            Genre = row[2]
            Fight_date = row[3]
            Year = row[4]
            Total_rounds_fought = row[5]
            Total_title_bouts = row[6]
            Current_win_streak = row[7]
            Current_lose_streak = row[8]
            Longest_win_streak = row[9]
            Wins = row[10]
            Losses = row[11]
            Draw = row[12]
            Win_by_Decision_Majority = row[13]
            Win_by_Decision_Split = row[14]
            Win_by_Decision_Unanimous = row[15]
            Win_by_KO_TKO = row[16]
            Win_by_Submission = row[17]
            Win_by_TKO_Doctor_Stoppage = row[18]
            Stance = row[19]
            ID_peleador = row[20]
        #Insertamos en la tabla
        Insertar_datos_historicos = f""" INSERT INTO data_historica (Name,Weight_class, Genre, Fight_date, Year, Total_rounds_fought, 
        Total_title_bouts, Current_win_streak, Current_lose_streak, Longest_win_streak, Wins, Losses, Draw,
        Win_by_Decision_Majority, Win_by_Decision_Split, Win_by_Decision_Unanimous, Win_by_KO_TKO, Win_by_Submission,
        Win_by_TKO_Doctor_Stoppage, Stance, ID_peleador)
        VALUES (?,?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?,?, ?, ?, ?, ?,?, ?,?)"""
        valores_historicos = (Name,Weight_class, Genre, Fight_date, Year, Total_rounds_fought, 
        Total_title_bouts, Current_win_streak, Current_lose_streak, Longest_win_streak, Wins, Losses, Draw,
        Win_by_Decision_Majority, Win_by_Decision_Split, Win_by_Decision_Unanimous, Win_by_KO_TKO, Win_by_Submission,
        Win_by_TKO_Doctor_Stoppage, Stance, ID_peleador)
        cursor.execute(Insertar_datos_historicos,valores_historicos)
    connection.commit()

# Tabla de estadisticas de cada peleador

In [7]:
with open('Datos_estadisticos_peleador.csv', 'r') as csvfile:
    csv_file_reader = csv.reader(csvfile,delimiter=',')
    #Skip los titulos
    next(csv_file_reader, None)
    
    #Creamos los campos
    Name =''
    Weight_class =''
    Genre = ''
    Fight = ''
    Year = 0
    ID_pelea = 0
    Avg_KD = 0
    Avg_opp_KD = 0
    Avg_SIG_STR_pct = 0
    Avg_opp_SIG_STR_pct = 0
    Avg_TD_pct = 0
    Avg_opp_TD_pct = 0
    Avg_SUB_ATT = 0
    Avg_opp_SUB_ATT = 0
    Avg_REV = 0
    Avg_opp_REV = 0
    Avg_SIG_STR_att = 0
    Avg_SIG_STR_landed = 0
    Avg_opp_SIG_STR_att = 0
    Avg_opp_SIG_STR_landed = 0
    Avg_TOTAL_STR_att = 0
    Avg_TOTAL_STR_landed = 0
    Avg_opp_TOTAL_STR_att = 0
    Avg_opp_TOTAL_STR_landed = 0
    Avg_TD_att = 0
    Avg_TD_landed = 0
    Avg_opp_TD_att = 0
    Avg_opp_TD_landed = 0
    Avg_HEAD_att = 0
    Avg_HEAD_landed = 0
    Avg_opp_HEAD_att = 0
    Avg_opp_HEAD_landed = 0
    Avg_BODY_att = 0
    Avg_BODY_landed = 0
    Avg_opp_BODY_att = 0
    Avg_opp_BODY_landed = 0
    Avg_LEG_att = 0
    Avg_LEG_landed = 0
    Avg_opp_LEG_att = 0
    Avg_opp_LEG_landed = 0
    Avg_DISTANCE_att = 0
    Avg_DISTANCE_landed = 0
    Avg_opp_DISTANCE_att = 0
    Avg_opp_DISTANCE_landed = 0
    Avg_CLINCH_att = 0
    Avg_CLINCH_landed = 0
    Avg_opp_CLINCH_att = 0
    Avg_opp_CLINCH_landed = 0
    Avg_GROUND_att = 0
    Avg_GROUND_landed = 0
    Avg_opp_GROUND_att = 0
    Avg_opp_GROUND_landed = 0
    Avg_CTRL_time_seconds = 0
    Avg_opp_CTRL_time_seconds = 0
    ID_peleador = 0

    
    #Creamos la base de datos
    #Creamos la estructura de la tabla
    create_stad_fighters = """
    CREATE TABLE if not Exists data_estadistica_peleador(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT,
    Weight_class TEXT,
    Genre TEXT,
    Fight_date TEXT,
    Year INTEGER,
    ID_pelea INTEGER NOT NULL,
    ID_peleador INTEGER NOT NULL,
    Avg_KD INTEGER,
    Avg_opp_KD INTEGER,
    Avg_SIG_STR_pct INTEGER,
    Avg_opp_SIG_STR_pct INTEGER,
    Avg_TD_pct INTEGER,
    Avg_opp_TD_pct INTEGER,
    Avg_SUB_ATT INTEGER,
    Avg_opp_SUB_ATT INTEGER,
    Avg_REV INTEGER,
    Avg_opp_REV INTEGER,
    Avg_SIG_STR_att INTEGER,
    Avg_SIG_STR_landed INTEGER,
    Avg_opp_SIG_STR_att INTEGER,
    Avg_opp_SIG_STR_landed INTEGER,
    Avg_TOTAL_STR_att INTEGER,
    Avg_TOTAL_STR_landed INTEGER,
    Avg_opp_TOTAL_STR_att INTEGER,
    Avg_opp_TOTAL_STR_landed INTEGER,
    Avg_TD_att INTEGER,
    Avg_TD_landed INTEGER,
    Avg_opp_TD_att INTEGER,
    Avg_opp_TD_landed INTEGER,
    Avg_HEAD_att INTEGER,
    Avg_HEAD_landed INTEGER,
    Avg_opp_HEAD_att INTEGER,
    Avg_opp_HEAD_landed INTEGER,
    Avg_BODY_att INTEGER,
    Avg_BODY_landed INTEGER,
    Avg_opp_BODY_att INTEGER,
    Avg_opp_BODY_landed INTEGER,
    Avg_LEG_att INTEGER,
    Avg_LEG_landed INTEGER,
    Avg_opp_LEG_att INTEGER,
    Avg_opp_LEG_landed INTEGER,
    Avg_DISTANCE_att INTEGER,
    Avg_DISTANCE_landed INTEGER,
    Avg_opp_DISTANCE_att INTEGER,
    Avg_opp_DISTANCE_landed INTEGER,
    Avg_CLINCH_att INTEGER,
    Avg_CLINCH_landed INTEGER,
    Avg_opp_CLINCH_att INTEGER,
    Avg_opp_CLINCH_landed INTEGER,
    Avg_GROUND_att INTEGER,
    Avg_GROUND_landed INTEGER,
    Avg_opp_GROUND_att INTEGER,
    Avg_opp_GROUND_landed INTEGER,
    Avg_CTRL_time_seconds INTEGER,
    Avg_opp_CTRL_time_seconds INTEGER,
    FOREIGN KEY (ID_peleador) REFERENCES data_peleadores(ID_peleador) FOREIGN KEY (ID_pelea) REFERENCES data_peleas(ID_peleas)
    );
    """
    cursor = connection.cursor()
    cursor.execute(create_stad_fighters)
    
    #Pasamos los datos del csv a la tabla
    for row in csv_file_reader:
        #Saltamos la primera columna
        for i in range(len(row)):
            #Asiginamos cada valor a su campo
            Name = row[0]
            Weight_class = row[1]
            Genre = row[2]
            Fight = row[3]
            Year = row[4]
            ID_pelea = row[5]
            Avg_KD = row[6]
            Avg_opp_KD = row[7]
            Avg_SIG_STR_pct = row[8]
            Avg_opp_SIG_STR_pct = row[9]
            Avg_TD_pct = row[10]
            Avg_opp_TD_pct = row[11]
            Avg_SUB_ATT = row[12]
            Avg_opp_SUB_ATT = row[13]
            Avg_REV = row[14]
            Avg_opp_REV = row[15]
            Avg_SIG_STR_att = row[16]
            Avg_SIG_STR_landed = row[17]
            Avg_opp_SIG_STR_att = row[18]
            Avg_opp_SIG_STR_landed = row[19]
            Avg_TOTAL_STR_att = row[20]
            Avg_TOTAL_STR_landed = row[21]
            Avg_opp_TOTAL_STR_att = row[22]
            Avg_opp_TOTAL_STR_landed = row[23]
            Avg_TD_att = row[24]
            Avg_TD_landed = row[25]
            Avg_opp_TD_att = row[26]
            Avg_opp_TD_landed = row[27]
            Avg_HEAD_att = row[28]
            Avg_HEAD_landed = row[29]
            Avg_opp_HEAD_att = row[30]
            Avg_opp_HEAD_landed = row[31]
            Avg_BODY_att = row[32]
            Avg_BODY_landed = row[33]
            Avg_opp_BODY_att = row[34]
            Avg_opp_BODY_landed = row[35]
            Avg_LEG_att = row[36]
            Avg_LEG_landed = row[37]
            Avg_opp_LEG_att = row[38]
            Avg_opp_LEG_landed = row[39]
            Avg_DISTANCE_att = row[40]
            Avg_DISTANCE_landed = row[41]
            Avg_opp_DISTANCE_att = row[42]
            Avg_opp_DISTANCE_landed = row[43]
            Avg_CLINCH_att = row[44]
            Avg_CLINCH_landed = row[45]
            Avg_opp_CLINCH_att = row[46]
            Avg_opp_CLINCH_landed = row[47]
            Avg_GROUND_att = row[48]
            Avg_GROUND_landed = row[49]
            Avg_opp_GROUND_att = row[50]
            Avg_opp_GROUND_landed = row[51]
            Avg_CTRL_time_seconds = row[52]
            Avg_opp_CTRL_time_seconds = row[53]
            ID_peleador = row[54]
                #Insertamos en la tabla
        Insertar_datos_stad = f""" INSERT INTO data_estadistica_peleador(Name,Weight_class, Genre, Fight_date, Year, ID_pelea, ID_peleador,
        Avg_KD,Avg_opp_KD,Avg_SIG_STR_pct,Avg_opp_SIG_STR_pct,Avg_TD_pct,Avg_opp_TD_pct,Avg_SUB_ATT,Avg_opp_SUB_ATT,Avg_REV,
        Avg_opp_REV,Avg_SIG_STR_att,Avg_SIG_STR_landed,Avg_opp_SIG_STR_att,Avg_opp_SIG_STR_landed,Avg_TOTAL_STR_att,
        Avg_TOTAL_STR_landed,Avg_opp_TOTAL_STR_att,Avg_opp_TOTAL_STR_landed,Avg_TD_att,Avg_TD_landed,Avg_opp_TD_att,
        Avg_opp_TD_landed,Avg_HEAD_att,Avg_HEAD_landed,Avg_opp_HEAD_att,Avg_opp_HEAD_landed,Avg_BODY_att,Avg_BODY_landed,
        Avg_opp_BODY_att,Avg_opp_BODY_landed,Avg_LEG_att,Avg_LEG_landed,Avg_opp_LEG_att,Avg_opp_LEG_landed,Avg_DISTANCE_att,
        Avg_DISTANCE_landed,Avg_opp_DISTANCE_att,Avg_opp_DISTANCE_landed,Avg_CLINCH_att,Avg_CLINCH_landed,Avg_opp_CLINCH_att,
        Avg_opp_CLINCH_landed,Avg_GROUND_att,Avg_GROUND_landed,Avg_opp_GROUND_att,Avg_opp_GROUND_landed,Avg_CTRL_time_seconds,
        Avg_opp_CTRL_time_seconds)
        VALUES (?,?, ?, ?, ?, ?, ?, ?,?,?,?,?,?,?,?,?,?,?,?,?,?,?, ?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,
        ?,?,?,?,?,?,?)"""
        valores_stad = (Name,Weight_class, Genre, Fight_date, Year, ID_pelea, ID_peleador,
        Avg_KD,Avg_opp_KD,Avg_SIG_STR_pct,Avg_opp_SIG_STR_pct,Avg_TD_pct,Avg_opp_TD_pct,Avg_SUB_ATT,Avg_opp_SUB_ATT,Avg_REV,
        Avg_opp_REV,Avg_SIG_STR_att,Avg_SIG_STR_landed,Avg_opp_SIG_STR_att,Avg_opp_SIG_STR_landed,Avg_TOTAL_STR_att,
        Avg_TOTAL_STR_landed,Avg_opp_TOTAL_STR_att,Avg_opp_TOTAL_STR_landed,Avg_TD_att,Avg_TD_landed,Avg_opp_TD_att,
        Avg_opp_TD_landed,Avg_HEAD_att,Avg_HEAD_landed,Avg_opp_HEAD_att,Avg_opp_HEAD_landed,Avg_BODY_att,Avg_BODY_landed,
        Avg_opp_BODY_att,Avg_opp_BODY_landed,Avg_LEG_att,Avg_LEG_landed,Avg_opp_LEG_att,Avg_opp_LEG_landed,Avg_DISTANCE_att,
        Avg_DISTANCE_landed,Avg_opp_DISTANCE_att,Avg_opp_DISTANCE_landed,Avg_CLINCH_att,Avg_CLINCH_landed,Avg_opp_CLINCH_att,
        Avg_opp_CLINCH_landed,Avg_GROUND_att,Avg_GROUND_landed,Avg_opp_GROUND_att,Avg_opp_GROUND_landed,Avg_CTRL_time_seconds,
        Avg_opp_CTRL_time_seconds)
        cursor.execute(Insertar_datos_stad,valores_stad)
    connection.commit()

In [8]:
# estructura 'global' de la base de datos
tables = pd.read_sql("""SELECT * FROM sqlite_master
                        WHERE type='table';""", connection)
tables

,type,name,tbl_name,rootpage,sql
0,table,data_main,data_main,2,CREATE TABLE data_main(\n ID_peleador INTEG...
1,table,sqlite_sequence,sqlite_sequence,3,"CREATE TABLE sqlite_sequence(name,seq)"
2,table,data_peleadores,data_peleadores,23,CREATE TABLE data_peleadores(\n ID INTEGER ...
3,table,data_peleas,data_peleas,127,CREATE TABLE data_peleas(\n ID INTEGER PRIM...
4,table,data_historica,data_historica,304,CREATE TABLE data_historica(\n id INTEGER P...
5,table,data_estadistica_peleador,data_estadistica_peleador,768,CREATE TABLE data_estadistica_peleador(\n i...

In [10]:
countries = pd.read_sql("""SELECT *FROM data_peleas;""", connection)
countries

,ID,Referee,Date,Location,Winner,Title_bout,Weight_class,Genre,R_fighter,B_fighter,R_age,B_age,Year,ID_pelea
0,1,Chris Tognoni,2021-03-20,"Las Vegas, Nevada, USA",Red,0,Bantamweight,Male,Adrian Yanez,Gustavo Lopez,27,31,2021,0
1,2,Herb Dean,2021-03-20,"Las Vegas, Nevada, USA",Red,0,Error,Male,Trevin Giles,Roman Dolidze,28,32,2021,1
2,3,Herb Dean,2021-03-20,"Las Vegas, Nevada, USA",Red,0,Peso_Pactado,Male,Tai Tuivasa,Harry Hunsucker,28,32,2021,2
3,4,Mark Smith,2021-03-20,"Las Vegas, Nevada, USA",Blue,0,Strawweight,Women,Cheyanne Buys,Montserrat Conejo,25,28,2021,3
4,5,Mark Smith,2021-03-20,"Las Vegas, Nevada, USA",Blue,0,Bantamweight,Women,Marion Reneau,Macy Chiasson,43,29,2021,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6007,6008,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,0,Peso_Pactado,Male,Remco Pardoel,Alberta Cerra Leon,0,0,1994,6007
6008,6009,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,0,Error,Male,Orlando Wiet,Robert Lucarelli,0,0,1994,6008
6009,6010,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,0,Error,Male,Johnny Rhodes,David Levicki,0,0,1994,6009
6010,6011,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,0,Error,Male,Patrick Smith,Ray Wizard,30,0,1994,6010
6011,6012,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,0,Peso_Pactado,Male,Scott Morris,Sean Daugherty,0,18,1994,6011