In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
df_fight = pd.read_csv(r'Raw_data\raw_total_fight_data.csv', sep=';')
df_fight

,R_fighter,B_fighter,R_KD,B_KD,R_SIG_STR.,B_SIG_STR.,R_SIG_STR_pct,B_SIG_STR_pct,R_TOTAL_STR.,B_TOTAL_STR.,...,B_GROUND,win_by,last_round,last_round_time,Format,Referee,date,location,Fight_type,Winner
0,Adrian Yanez,Gustavo Lopez,2,0,41 of 103,23 of 51,39%,45%,41 of 103,23 of 51,...,0 of 0,KO/TKO,3,0:27,3 Rnd (5-5-5),Chris Tognoni,"March 20, 2021","Las Vegas, Nevada, USA",Bantamweight Bout,Adrian Yanez
1,Trevin Giles,Roman Dolidze,0,0,27 of 57,32 of 67,47%,47%,43 of 73,75 of 110,...,1 of 2,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Herb Dean,"March 20, 2021","Las Vegas, Nevada, USA",Middleweight Bout,Trevin Giles
2,Tai Tuivasa,Harry Hunsucker,1,0,14 of 18,2 of 6,77%,33%,14 of 18,2 of 6,...,0 of 0,KO/TKO,1,0:49,3 Rnd (5-5-5),Herb Dean,"March 20, 2021","Las Vegas, Nevada, USA",Heavyweight Bout,Tai Tuivasa
3,Cheyanne Buys,Montserrat Conejo,0,0,31 of 65,15 of 41,47%,36%,49 of 87,136 of 168,...,0 of 0,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Mark Smith,"March 20, 2021","Las Vegas, Nevada, USA",Women's Strawweight Bout,Montserrat Conejo
4,Marion Reneau,Macy Chiasson,0,0,30 of 63,51 of 138,47%,36%,59 of 93,92 of 184,...,2 of 4,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Mark Smith,"March 20, 2021","Las Vegas, Nevada, USA",Women's Bantamweight Bout,Macy Chiasson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6007,Remco Pardoel,Alberta Cerra Leon,0,0,4 of 6,1 of 3,66%,33%,20 of 22,9 of 11,...,0 of 2,Submission,1,9:51,No Time Limit,John McCarthy,"March 11, 1994","Denver, Colorado, USA",Open Weight Bout,Remco Pardoel
6008,Orlando Wiet,Robert Lucarelli,0,0,8 of 12,2 of 6,66%,33%,11 of 15,2 of 6,...,0 of 0,KO/TKO,1,2:50,No Time Limit,John McCarthy,"March 11, 1994","Denver, Colorado, USA",Open Weight Bout,Orlando Wiet
6009,Johnny Rhodes,David Levicki,0,0,11 of 17,4 of 5,64%,80%,74 of 86,95 of 102,...,1 of 1,KO/TKO,1,12:13,No Time Limit,John McCarthy,"March 11, 1994","Denver, Colorado, USA",Open Weight Bout,Johnny Rhodes
6010,Patrick Smith,Ray Wizard,0,0,1 of 1,1 of 1,100%,100%,1 of 1,2 of 2,...,0 of 0,Submission,1,0:58,No Time Limit,John McCarthy,"March 11, 1994","Denver, Colorado, USA",Open Weight Bout,Patrick Smith
6011,Scott Morris,Sean Daugherty,0,0,1 of 1,0 of 4,100%,0%,2 of 2,1 of 5,...,0 of 0,Submission,1,0:20,No Time Limit,John McCarthy,"March 11, 1994","Denver, Colorado, USA",Open Weight Bout,Scott Morris

In [37]:
df_fighter = pd.read_csv(r'Raw_data\raw_fighter_details.csv', sep=',')
df_fighter

,fighter_name,Height,Weight,Reach,Stance,DOB,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg
0,Tom Aaron,NaN,155 lbs.,NaN,NaN,"Jul 13, 1978",0.00,0%,0.00,0%,0.00,0%,0%,0.0
1,Papy Abedi,"5' 11""",185 lbs.,NaN,Southpaw,"Jun 30, 1978",2.80,55%,3.15,48%,3.47,57%,50%,1.3
2,Shamil Abdurakhimov,"6' 3""",235 lbs.,"76""",Orthodox,"Sep 02, 1981",2.45,44%,2.45,58%,1.23,24%,47%,0.2
3,Danny Abbadi,"5' 11""",155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0
4,Hiroyuki Abe,"5' 6""",145 lbs.,NaN,Orthodox,NaN,1.71,36%,3.11,63%,0.00,0%,33%,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3591,Zhang Tiequan,"5' 8""",155 lbs.,"69""",Orthodox,"Jul 25, 1978",1.23,36%,2.14,51%,1.95,58%,75%,3.4
3592,Alex Zuniga,NaN,145 lbs.,NaN,NaN,NaN,0.00,0%,0.00,0%,0.00,0%,0%,0.0
3593,George Zuniga,"5' 9""",185 lbs.,NaN,NaN,NaN,7.64,38%,5.45,37%,0.00,0%,100%,0.0
3594,Allan Zuniga,"5' 7""",155 lbs.,"70""",Orthodox,"Apr 04, 1992",3.93,52%,1.80,61%,0.00,0%,57%,1.0
3595,Virgil Zwicker,"6' 2""",205 lbs.,"74""",NaN,"Jun 26, 1982",3.34,48%,4.87,39%,1.31,30%,50%,0.0

In [38]:
df = df_fight.merge(df_fighter, how='left', left_on='R_fighter', right_on='fighter_name')
df = df.merge(df_fighter, how='left', left_on='B_fighter', right_on='fighter_name',suffixes=('_Red', '_Blue'))
df.head()

,R_fighter,B_fighter,R_KD,B_KD,R_SIG_STR.,B_SIG_STR.,R_SIG_STR_pct,B_SIG_STR_pct,R_TOTAL_STR.,B_TOTAL_STR.,...,Stance_Blue,DOB_Blue,SLpM_Blue,Str_Acc_Blue,SApM_Blue,Str_Def_Blue,TD_Avg_Blue,TD_Acc_Blue,TD_Def_Blue,Sub_Avg_Blue
0,Adrian Yanez,Gustavo Lopez,2,0,41 of 103,23 of 51,39%,45%,41 of 103,23 of 51,...,Orthodox,"Jun 27, 1989",2.24,41%,4.65,51%,1.07,50%,27%,0.5
1,Trevin Giles,Roman Dolidze,0,0,27 of 57,32 of 67,47%,47%,43 of 73,75 of 110,...,Orthodox,"Jul 15, 1988",2.98,51%,1.75,61%,1.75,50%,33%,2.2
2,Tai Tuivasa,Harry Hunsucker,1,0,14 of 18,2 of 6,77%,33%,14 of 18,2 of 6,...,Orthodox,"Jan 03, 1989",4.33,51%,8.44,41%,0.00,0%,0%,0.0
3,Cheyanne Buys,Montserrat Conejo,0,0,31 of 65,15 of 41,47%,36%,49 of 87,136 of 168,...,Southpaw,"Feb 03, 1993",1.00,36%,2.07,52%,4.00,80%,0%,2.0
4,Marion Reneau,Macy Chiasson,0,0,30 of 63,51 of 138,47%,36%,59 of 93,92 of 184,...,Orthodox,"Jul 27, 1991",4.16,49%,2.17,46%,0.98,21%,64%,0.5

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6012 entries, 0 to 6011
Data columns (total 69 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   R_fighter          6012 non-null   object
 1   B_fighter          6012 non-null   object
 2   R_KD               6012 non-null   int64
 3   B_KD               6012 non-null   int64
 4   R_SIG_STR.         6012 non-null   object
 5   B_SIG_STR.         6012 non-null   object
 6   R_SIG_STR_pct      6012 non-null   object
 7   B_SIG_STR_pct      6012 non-null   object
 8   R_TOTAL_STR.       6012 non-null   object
 9   B_TOTAL_STR.       6012 non-null   object
 10  R_TD               6012 non-null   object
 11  B_TD               6012 non-null   object
 12  R_TD_pct           6012 non-null   object
 13  B_TD_pct           6012 non-null   object
 14  R_SUB_ATT          6012 non-null   int64
 15  B_SUB_ATT          6012 non-null   int64
 16  R_REV              6012 non-null   int64
 17  B_REV              6012 non-null   int64
 18  R_CTRL             6012 non-null   object
 19  B_CTRL             6012 non-null   object
 20  R_HEAD             6012 non-null   object
 21  B_HEAD             6012 non-null   object
 22  R_BODY             6012 non-null   object
 23  B_BODY             6012 non-null   object
 24  R_LEG              6012 non-null   object
 25  B_LEG              6012 non-null   object
 26  R_DISTANCE         6012 non-null   object
 27  B_DISTANCE         6012 non-null   object
 28  R_CLINCH           6012 non-null   object
 29  B_CLINCH           6012 non-null   object
 30  R_GROUND           6012 non-null   object
 31  B_GROUND           6012 non-null   object
 32  win_by             6012 non-null   object
 33  last_round         6012 non-null   int64
 34  last_round_time    6012 non-null   object
 35  Format             6012 non-null   object
 36  Referee            5980 non-null   object
 37  date               6012 non-null   object
 38  location           6012 non-null   object
 39  Fight_type         6012 non-null   object
 40  Winner             5902 non-null   object
 41  fighter_name_Red   6012 non-null   object
 42  Height_Red         6008 non-null   object
 43  Weight_Red         6010 non-null   object
 44  Reach_Red          5606 non-null   object
 45  Stance_Red         5983 non-null   object
 46  DOB_Red            5949 non-null   object
 47  SLpM_Red           6012 non-null   float64
 48  Str_Acc_Red        6012 non-null   object
 49  SApM_Red           6012 non-null   float64
 50  Str_Def_Red        6012 non-null   object
 51  TD_Avg_Red         6012 non-null   float64
 52  TD_Acc_Red         6012 non-null   object
 53  TD_Def_Red         6012 non-null   object
 54  Sub_Avg_Red        6012 non-null   float64
 55  fighter_name_Blue  6012 non-null   object
 56  Height_Blue        6002 non-null   object
 57  Weight_Blue        6004 non-null   object
 58  Reach_Blue         5121 non-null   object
 59  Stance_Blue        5946 non-null   object
 60  DOB_Blue           5840 non-null   object
 61  SLpM_Blue          6012 non-null   float64
 62  Str_Acc_Blue       6012 non-null   object
 63  SApM_Blue          6012 non-null   float64
 64  Str_Def_Blue       6012 non-null   object
 65  TD_Avg_Blue        6012 non-null   float64
 66  TD_Acc_Blue        6012 non-null   object
 67  TD_Def_Blue        6012 non-null   object
 68  Sub_Avg_Blue       6012 non-null   float64
dtypes: float64(8), int64(7), object(54)
memory usage: 3.2+ MB

In [40]:
df = df.drop(columns=['Referee', 'Reach_Red', 'Reach_Blue', 'DOB_Red', 'DOB_Blue'])

In [41]:
df = df.dropna(subset=['Winner', 'Height_Blue', 'Height_Red', 'Weight_Blue', 'Weight_Red'])
df['Stance_Red'] = df['Stance_Red'].fillna(df['Stance_Red'].mode()[0])
df['Stance_Blue'] = df['Stance_Blue'].fillna(df['Stance_Blue'].mode()[0])

In [42]:
df.isna().sum().sum()

0

In [43]:
def winner(x,red,blue):
    if red in x:
        return 1
    elif blue in x:
        return 0

In [44]:
df['winner_color'] = df[['Winner','R_fighter','B_fighter']].apply(lambda x: winner(x['Winner'], x['R_fighter'], x['B_fighter']), axis=1)
df['winner_color'].value_counts()

1    3968
0    1922
Name: winner_color, dtype: int64

In [45]:
df

,R_fighter,B_fighter,R_KD,B_KD,R_SIG_STR.,B_SIG_STR.,R_SIG_STR_pct,B_SIG_STR_pct,R_TOTAL_STR.,B_TOTAL_STR.,...,Stance_Blue,SLpM_Blue,Str_Acc_Blue,SApM_Blue,Str_Def_Blue,TD_Avg_Blue,TD_Acc_Blue,TD_Def_Blue,Sub_Avg_Blue,winner_color
0,Adrian Yanez,Gustavo Lopez,2,0,41 of 103,23 of 51,39%,45%,41 of 103,23 of 51,...,Orthodox,2.24,41%,4.65,51%,1.07,50%,27%,0.5,1
1,Trevin Giles,Roman Dolidze,0,0,27 of 57,32 of 67,47%,47%,43 of 73,75 of 110,...,Orthodox,2.98,51%,1.75,61%,1.75,50%,33%,2.2,1
2,Tai Tuivasa,Harry Hunsucker,1,0,14 of 18,2 of 6,77%,33%,14 of 18,2 of 6,...,Orthodox,4.33,51%,8.44,41%,0.00,0%,0%,0.0,1
3,Cheyanne Buys,Montserrat Conejo,0,0,31 of 65,15 of 41,47%,36%,49 of 87,136 of 168,...,Southpaw,1.00,36%,2.07,52%,4.00,80%,0%,2.0,0
4,Marion Reneau,Macy Chiasson,0,0,30 of 63,51 of 138,47%,36%,59 of 93,92 of 184,...,Orthodox,4.16,49%,2.17,46%,0.98,21%,64%,0.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6006,Jason DeLucia,Scott Baker,0,0,3 of 5,0 of 2,60%,0%,20 of 25,14 of 23,...,Orthodox,0.00,0%,0.00,0%,0.00,0%,0%,0.0,1
6007,Remco Pardoel,Alberta Cerra Leon,0,0,4 of 6,1 of 3,66%,33%,20 of 22,9 of 11,...,Orthodox,0.00,0%,0.00,0%,0.00,0%,0%,0.0,1
6008,Orlando Wiet,Robert Lucarelli,0,0,8 of 12,2 of 6,66%,33%,11 of 15,2 of 6,...,Orthodox,0.00,0%,0.00,0%,0.00,0%,0%,0.0,1
6009,Johnny Rhodes,David Levicki,0,0,11 of 17,4 of 5,64%,80%,74 of 86,95 of 102,...,Orthodox,0.00,0%,0.00,0%,0.00,0%,0%,0.0,1
6011,Scott Morris,Sean Daugherty,0,0,1 of 1,0 of 4,100%,0%,2 of 2,1 of 5,...,Orthodox,0.00,0%,0.00,0%,0.00,0%,0%,0.0,1

In [46]:
df = df.drop(columns=['R_fighter','B_fighter'])
df

,R_KD,B_KD,R_SIG_STR.,B_SIG_STR.,R_SIG_STR_pct,B_SIG_STR_pct,R_TOTAL_STR.,B_TOTAL_STR.,R_TD,B_TD,...,Stance_Blue,SLpM_Blue,Str_Acc_Blue,SApM_Blue,Str_Def_Blue,TD_Avg_Blue,TD_Acc_Blue,TD_Def_Blue,Sub_Avg_Blue,winner_color
0,2,0,41 of 103,23 of 51,39%,45%,41 of 103,23 of 51,0 of 0,0 of 1,...,Orthodox,2.24,41%,4.65,51%,1.07,50%,27%,0.5,1
1,0,0,27 of 57,32 of 67,47%,47%,43 of 73,75 of 110,1 of 2,1 of 3,...,Orthodox,2.98,51%,1.75,61%,1.75,50%,33%,2.2,1
2,1,0,14 of 18,2 of 6,77%,33%,14 of 18,2 of 6,0 of 0,0 of 0,...,Orthodox,4.33,51%,8.44,41%,0.00,0%,0%,0.0,1
3,0,0,31 of 65,15 of 41,47%,36%,49 of 87,136 of 168,0 of 0,4 of 5,...,Southpaw,1.00,36%,2.07,52%,4.00,80%,0%,2.0,0
4,0,0,30 of 63,51 of 138,47%,36%,59 of 93,92 of 184,2 of 4,1 of 1,...,Orthodox,4.16,49%,2.17,46%,0.98,21%,64%,0.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6006,0,0,3 of 5,0 of 2,60%,0%,20 of 25,14 of 23,0 of 1,1 of 1,...,Orthodox,0.00,0%,0.00,0%,0.00,0%,0%,0.0,1
6007,0,0,4 of 6,1 of 3,66%,33%,20 of 22,9 of 11,1 of 1,0 of 0,...,Orthodox,0.00,0%,0.00,0%,0.00,0%,0%,0.0,1
6008,0,0,8 of 12,2 of 6,66%,33%,11 of 15,2 of 6,0 of 0,1 of 1,...,Orthodox,0.00,0%,0.00,0%,0.00,0%,0%,0.0,1
6009,0,0,11 of 17,4 of 5,64%,80%,74 of 86,95 of 102,1 of 1,0 of 0,...,Orthodox,0.00,0%,0.00,0%,0.00,0%,0%,0.0,1
6011,0,0,1 of 1,0 of 4,100%,0%,2 of 2,1 of 5,1 of 1,0 of 0,...,Orthodox,0.00,0%,0.00,0%,0.00,0%,0%,0.0,1

In [47]:
df['R_SIG_STRIKE_LANDED'] = df['R_SIG_STR.'].apply(lambda x: x.split()[0]).astype(int)
df['R_SIG_STRIKE_TOTAL'] = df['R_SIG_STR.'].apply(lambda x: x.split()[2]).astype(int)
df['B_SIG_STRIKE_LANDED'] = df['B_SIG_STR.'].apply(lambda x: x.split()[0]).astype(int)
df['B_SIG_STRIKE_TOTAL'] = df['B_SIG_STR.'].apply(lambda x: x.split()[2]).astype(int)
df['R_TOTAL_STRIKE_LANDED'] = df['R_TOTAL_STR.'].apply(lambda x: x.split()[0]).astype(int)
df['R_TOTAL_STRIKE_TOTAL'] = df['R_TOTAL_STR.'].apply(lambda x: x.split()[2]).astype(int)
df['B_TOTAL_STRIKE_LANDED'] = df['B_TOTAL_STR.'].apply(lambda x: x.split()[0]).astype(int)
df['B_TOTAL_STRIKE_TOTAL'] = df['B_TOTAL_STR.'].apply(lambda x: x.split()[2]).astype(int)
df['R_TD_STRIKE_LANDED'] = df['R_TD'].apply(lambda x: x.split()[0]).astype(int)
df['R_TD_STRIKE_TOTAL'] = df['R_TD'].apply(lambda x: x.split()[2]).astype(int)
df['B_TD_STRIKE_LANDED'] = df['B_TD'].apply(lambda x: x.split()[0]).astype(int)
df['B_TD_STRIKE_TOTAL'] = df['B_TD'].apply(lambda x: x.split()[2]).astype(int)
df['R_HEAD_LANDED'] = df['R_HEAD'].apply(lambda x: x.split()[0]).astype(int)
df['R_HEAD_TOTAL'] = df['R_HEAD'].apply(lambda x: x.split()[2]).astype(int)
df['B_HEAD_LANDED'] = df['B_HEAD'].apply(lambda x: x.split()[0]).astype(int)
df['B_HEAD_TOTAL'] = df['B_HEAD'].apply(lambda x: x.split()[2]).astype(int)
df['R_BODY_LANDED'] = df['R_BODY'].apply(lambda x: x.split()[0]).astype(int)
df['R_BODY_TOTAL'] = df['R_BODY'].apply(lambda x: x.split()[2]).astype(int)
df['B_BODY_LANDED'] = df['B_BODY'].apply(lambda x: x.split()[0]).astype(int)
df['B_BODY_TOTAL'] = df['B_BODY'].apply(lambda x: x.split()[2]).astype(int)
df['R_LEG_LANDED'] = df['R_LEG'].apply(lambda x: x.split()[0]).astype(int)
df['R_LEG_TOTAL'] = df['R_LEG'].apply(lambda x: x.split()[2]).astype(int)
df['B_LEG_LANDED'] = df['B_LEG'].apply(lambda x: x.split()[0]).astype(int)
df['B_LEG_TOTAL'] = df['B_LEG'].apply(lambda x: x.split()[2]).astype(int)
df['R_DISTANCE_LANDED'] = df['R_DISTANCE'].apply(lambda x: x.split()[0]).astype(int)
df['R_DISTANCE_TOTAL'] = df['R_DISTANCE'].apply(lambda x: x.split()[2]).astype(int)
df['B_DISTANCE_LANDED'] = df['B_DISTANCE'].apply(lambda x: x.split()[0]).astype(int)
df['B_DISTANCE_TOTAL'] = df['B_DISTANCE'].apply(lambda x: x.split()[2]).astype(int)
df['R_CLINCH_LANDED'] = df['R_CLINCH'].apply(lambda x: x.split()[0]).astype(int)
df['R_CLINCH_TOTAL'] = df['R_CLINCH'].apply(lambda x: x.split()[2]).astype(int)
df['B_CLINCH_LANDED'] = df['B_CLINCH'].apply(lambda x: x.split()[0]).astype(int)
df['B_CLINCH_TOTAL'] = df['B_CLINCH'].apply(lambda x: x.split()[2]).astype(int)
df['R_GROUND_LANDED'] = df['R_GROUND'].apply(lambda x: x.split()[0]).astype(int)
df['R_GROUND_TOTAL'] = df['R_GROUND'].apply(lambda x: x.split()[2]).astype(int)
df['B_GROUND_LANDED'] = df['B_GROUND'].apply(lambda x: x.split()[0]).astype(int)
df['B_GROUND_TOTAL'] = df['B_GROUND'].apply(lambda x: x.split()[2]).astype(int)

In [48]:
df = df.drop(columns=['R_SIG_STR.','B_SIG_STR.','R_TOTAL_STR.','B_TOTAL_STR.','R_TD','B_TD','R_HEAD','B_HEAD','R_BODY','B_BODY','R_LEG','B_LEG','R_DISTANCE','B_DISTANCE','R_CLINCH','B_CLINCH','R_GROUND','B_GROUND'])

In [49]:
df['R_SIG_STR_pct'] = df['R_SIG_STR_pct'].str.strip('%')
df['B_SIG_STR_pct'] = df['B_SIG_STR_pct'].str.strip('%')
df['R_TD_pct'] = df['R_TD_pct'].str.strip('%')
df['B_TD_pct'] = df['B_TD_pct'].str.strip('%')
df['Str_Acc_Red'] = df['Str_Acc_Red'].str.strip('%')
df['Str_Def_Red'] = df['Str_Def_Red'].str.strip('%')
df['TD_Acc_Red'] = df['TD_Acc_Red'].str.strip('%')
df['TD_Def_Red'] = df['TD_Def_Red'].str.strip('%')
df['Str_Acc_Blue'] = df['Str_Acc_Blue'].str.strip('%')
df['Str_Def_Blue'] = df['Str_Def_Blue'].str.strip('%')
df['TD_Acc_Blue'] = df['TD_Acc_Blue'].str.strip('%')
df['TD_Def_Blue'] = df['TD_Def_Blue'].str.strip('%')

In [50]:
df

,R_KD,B_KD,R_SIG_STR_pct,B_SIG_STR_pct,R_TD_pct,B_TD_pct,R_SUB_ATT,B_SUB_ATT,R_REV,B_REV,...,B_DISTANCE_LANDED,B_DISTANCE_TOTAL,R_CLINCH_LANDED,R_CLINCH_TOTAL,B_CLINCH_LANDED,B_CLINCH_TOTAL,R_GROUND_LANDED,R_GROUND_TOTAL,B_GROUND_LANDED,B_GROUND_TOTAL
0,2,0,39,45,---,0,0,0,0,0,...,23,51,0,0,0,0,0,1,0,0
1,0,0,47,47,50,33,1,2,0,1,...,28,59,4,5,3,6,8,10,1,2
2,1,0,77,33,---,---,0,0,0,0,...,2,6,0,0,0,0,5,8,0,0
3,0,0,47,36,---,80,0,2,3,1,...,15,41,2,2,0,0,3,7,0,0
4,0,0,47,36,50,100,0,0,0,1,...,36,119,5,9,13,15,0,0,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6006,0,0,60,0,0,100,5,0,4,2,...,0,2,0,0,0,0,1,1,0,0
6007,0,0,66,33,100,---,1,0,0,0,...,1,1,0,0,0,0,4,5,0,2
6008,0,0,66,33,---,100,0,1,0,0,...,2,6,0,0,0,0,7,9,0,0
6009,0,0,64,80,100,---,0,0,0,0,...,1,2,1,1,2,2,9,15,1,1
6011,0,0,100,0,100,---,1,0,0,0,...,0,3,1,1,0,1,0,0,0,0

In [51]:
from datetime import timedelta
def seconder(x):
    if x == '--':
        return 0
    else:
        mins, secs = map(float, x.split(':'))
        td = timedelta(minutes=mins, seconds=secs)
        return int(td.total_seconds())

In [52]:
df['R_CTRL'] = df['R_CTRL'].apply(seconder)
df['B_CTRL'] = df['B_CTRL'].apply(seconder)
df.R_CTRL

0         3
1        75
2        10
3        64
4       135
       ...
6006      0
6007      0
6008      0
6009      0
6011      0
Name: R_CTRL, Length: 5890, dtype: int64

In [53]:
df = df.drop(columns=['Winner','Format','win_by','last_round','last_round_time','date','location','fighter_name_Red','fighter_name_Blue'])

In [54]:
def weight_class(x):
    if "Women's Strawweight" in x:
        return 'womens strawweight'
    elif 'Flyweight' in x:
        if 'Women' in x:
            return 'womens flyweight'
        else:
            return 'flyweight'
    elif 'Bantamweight' in x:
        if 'Women' in x:
            return 'womens bantamweight'
        else:
            return 'bantamweight'
    elif 'Featherweight' in x:
        if 'Women' in x:
            return 'womens featherweight'
        else:
            return 'featherweight'
    elif 'Lightweight' in x:
        return 'lightweight'
    elif 'Welterweight' in x:
        return 'welterweight'
    elif 'Middleweight' in x:
        return 'middleweight'
    elif 'Heavyweight' in x:
        if 'Light' in x:
            return 'light heavyweight'
        else:
            return 'heavyweight'
    else:
        return 'other'

In [55]:
df['weightclass'] = df['Fight_type'].apply(lambda x: weight_class(x))
df['titlebout'] = df['Fight_type'].apply(lambda x: 1 if 'Title' in x else 0)

In [56]:
df = df.drop(columns=['Fight_type'])

In [58]:
df['Height_Red'] = df['Height_Red'].apply(lambda x: (int(x.split()[0].strip("/'"))*12) + (int(x.split()[1].strip('/""'))))
df['Height_Blue'] = df['Height_Blue'].apply(lambda x: (int(x.split()[0].strip("/'"))*12) + (int(x.split()[1].strip('/""'))))

AttributeError: 'int' object has no attribute 'split'

In [59]:
df['Weight_Red'] = df['Weight_Red'].apply(lambda x: x.split()[0])
df['Weight_Blue'] = df['Weight_Blue'].apply(lambda x: x.split()[0])

0       135
1       185
2       264
3       115
4       135
       ...
6006    190
6007    260
6008    170
6009    210
6011    210
Name: Weight_Red, Length: 5890, dtype: object

In [60]:
df

,R_KD,B_KD,R_SIG_STR_pct,B_SIG_STR_pct,R_TD_pct,B_TD_pct,R_SUB_ATT,B_SUB_ATT,R_REV,B_REV,...,R_CLINCH_LANDED,R_CLINCH_TOTAL,B_CLINCH_LANDED,B_CLINCH_TOTAL,R_GROUND_LANDED,R_GROUND_TOTAL,B_GROUND_LANDED,B_GROUND_TOTAL,weightclass,titlebout
0,2,0,39,45,---,0,0,0,0,0,...,0,0,0,0,0,1,0,0,bantamweight,0
1,0,0,47,47,50,33,1,2,0,1,...,4,5,3,6,8,10,1,2,middleweight,0
2,1,0,77,33,---,---,0,0,0,0,...,0,0,0,0,5,8,0,0,heavyweight,0
3,0,0,47,36,---,80,0,2,3,1,...,2,2,0,0,3,7,0,0,womens strawweight,0
4,0,0,47,36,50,100,0,0,0,1,...,5,9,13,15,0,0,2,4,womens bantamweight,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6006,0,0,60,0,0,100,5,0,4,2,...,0,0,0,0,1,1,0,0,other,0
6007,0,0,66,33,100,---,1,0,0,0,...,0,0,0,0,4,5,0,2,other,0
6008,0,0,66,33,---,100,0,1,0,0,...,0,0,0,0,7,9,0,0,other,0
6009,0,0,64,80,100,---,0,0,0,0,...,1,1,2,2,9,15,1,1,other,0
6011,0,0,100,0,100,---,1,0,0,0,...,1,1,0,1,0,0,0,0,other,0

In [62]:
df['R_TD_pct'] = df['R_TD_pct'].str.replace('---', '0').astype(int)
df['B_TD_pct'] = df['B_TD_pct'].str.replace('---', '0').astype(int)
df['R_SIG_STR_pct'] = df['R_SIG_STR_pct'].str.replace('---', '0').astype(int)
df['B_SIG_STR_pct'] = df['B_SIG_STR_pct'].str.replace('---', '0').astype(int)
df['Weight_Red'] = df['Weight_Red'].astype(int)
df['Weight_Blue'] = df['Weight_Blue'].astype(int)
df['Str_Acc_Red'] = df['Str_Acc_Red'].astype(int)
df['Str_Acc_Blue'] = df['Str_Acc_Blue'].astype(int)
df['Str_Def_Red'] = df['Str_Def_Red'].astype(int)
df['Str_Def_Blue'] = df['Str_Def_Blue'].astype(int)
df['TD_Acc_Red'] = df['TD_Acc_Red'].astype(int)
df['TD_Acc_Blue'] = df['TD_Acc_Blue'].astype(int)
df['TD_Def_Red'] = df['TD_Def_Red'].astype(int)
df['TD_Def_Blue'] = df['TD_Def_Blue'].astype(int)

In [63]:
df

,R_KD,B_KD,R_SIG_STR_pct,B_SIG_STR_pct,R_TD_pct,B_TD_pct,R_SUB_ATT,B_SUB_ATT,R_REV,B_REV,...,R_CLINCH_LANDED,R_CLINCH_TOTAL,B_CLINCH_LANDED,B_CLINCH_TOTAL,R_GROUND_LANDED,R_GROUND_TOTAL,B_GROUND_LANDED,B_GROUND_TOTAL,weightclass,titlebout
0,2,0,39,45,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,bantamweight,0
1,0,0,47,47,50,33,1,2,0,1,...,4,5,3,6,8,10,1,2,middleweight,0
2,1,0,77,33,0,0,0,0,0,0,...,0,0,0,0,5,8,0,0,heavyweight,0
3,0,0,47,36,0,80,0,2,3,1,...,2,2,0,0,3,7,0,0,womens strawweight,0
4,0,0,47,36,50,100,0,0,0,1,...,5,9,13,15,0,0,2,4,womens bantamweight,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6006,0,0,60,0,0,100,5,0,4,2,...,0,0,0,0,1,1,0,0,other,0
6007,0,0,66,33,100,0,1,0,0,0,...,0,0,0,0,4,5,0,2,other,0
6008,0,0,66,33,0,100,0,1,0,0,...,0,0,0,0,7,9,0,0,other,0
6009,0,0,64,80,100,0,0,0,0,0,...,1,1,2,2,9,15,1,1,other,0
6011,0,0,100,0,100,0,1,0,0,0,...,1,1,0,1,0,0,0,0,other,0

In [64]:
df.to_csv('Data_preprocesamiento.csv')