In [1]:
import pandas as pd
import numpy as np

In [2]:
nums = np.random.randint(100, 3000, (8, 4))
letters = np.reshape(list("abcd")*2, (8,1))
values = np.append(nums, letters, axis = 1)

fecha = pd.date_range("20230915", periods=8)

df = pd.DataFrame(values, index=fecha, columns=list("VWXYZ"))
df

               V     W     X     Y  Z
2023-09-15  2498   564  2038   232  a
2023-09-16  1005  1418   665  2184  b
2023-09-17   845  1955  1863  1735  c
2023-09-18  1316   691   956   408  d
2023-09-19   121  2419   293   241  a
2023-09-20  2411  1719  1842   848  b
2023-09-21  1609  2258  1024  1391  c
2023-09-22  2822  1016   356  1405  d

In [14]:
columnas = df.columns
columnas

Index(['V', 'W', 'X', 'Y', 'Z'], dtype='object')

In [21]:
for i in range(len(columnas)-1):
    df.astype({columnas[i]:'int32'}).dtypes
df

               V     W     X     Y  Z
2023-09-15  2498   564  2038   232  a
2023-09-16  1005  1418   665  2184  b
2023-09-17   845  1955  1863  1735  c
2023-09-18  1316   691   956   408  d
2023-09-19   121  2419   293   241  a
2023-09-20  2411  1719  1842   848  b
2023-09-21  1609  2258  1024  1391  c
2023-09-22  2822  1016   356  1405  d

In [22]:
df.dtypes

V    object
W    object
X    object
Y    object
Z    object
dtype: object